* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color:transparent;
    border-radius: 10px;
    margin: 100px auto;
    max-width: 500px;
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-input {
    position: relative;
    margin-bottom:20px;
}

.form-input input {
    border: none;
    font-size: 14px;
    outline: none;
    padding: 10px 40px 10px 5px;
    width: 100%;
    background-color:lavender;
    padding:20px;
    border-radius:0.5rem;
    font-weight:bold;
    caret-color:#4CAF50;
}

.form-input input:focus,
.form-input input:valid {
    font-size: 14px;
}

.form-input .material-icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #4CAF50;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    font-weight:bold;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#back-to-login {
    margin-top: 20px;
    font-weight:bold;
}

#back-to-login a {
    color:#4CAF50;
    text-decoration: none;
    font-weight:bold;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 50px auto;
        padding: 20px;
    }
}
